.button-css {
  border-radius: 10px;
  background: linear-gradient(
    158deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  text-align: center;
  width: 170px;
  height: 64px;
}

@media (min-width:320px) and (max-width:480px){
  .button-css{
    width: 110px;
    height: 52px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
  }
}
