.h1-48 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.48px;
}

.h2-18 {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.18px;
  text-transform: capitalize;
}

.h3-18-grey {
  color: rgba(255, 255, 255, 0.7);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hoobankSection {
  background: #00040f;
}

.page-section {
  padding:2rem;
}

@media (min-width: 320px) and (max-width: 480px) {
  .h3-18-grey {
    font-size: 12px;
    text-align: center;
  }
  .h2-18 {
    font-size: 12px;
    line-height: 80%;
    text-align: center;
  }
  .h1-48 {
    font-size: 32px;
    line-height: 80%;
    text-align: center;
  }
}
